# Banco de Dados
DB_PASSWORD=123456

# Servidor
PORT=8080

# JWT
JWT_SECRET=troque_por_uma_chave_segura_em_producao
JWT_EXPIRATION=86400000

# E-mail (SMTP Gmail)
MAIL_USERNAME=seuemail@gmail.com
MAIL_PASSWORD=sua_senha_de_app_gmail

# Perfil Spring (dev | prod)
SPRING_PROFILES_ACTIVE=prod
